/* Import Angular Material theme */
@import url('../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css');

/* Global styles */
html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* Other global styles go here */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
